* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
/* Main Parts Starts Now This */
.container {
  position: relative;
  background-image: url("bg.png");
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header,
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 48px;
  margin-right: 10px;
}
header img {
  width: 60px;
}
h5,
.center {
  color: white;
  font-size: 18px;
  margin-bottom: 18px;
}
h5,
.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 2px;
}
h5,
.name {
  margin-top: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
h6,
.halka-spech {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 2px;
}
.container .card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}
